<%- include("../partials/header.ejs") %>

<div class="container">
    <h1>Add Comment</h1>
<form action="/prints/<%= print._id %>/comments" method="POST">
<!-- <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Name</label>
    <input type="text" class="form-control" name="comment[author]" placeholder="Your name">
  </div> -->

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Comment</label>
    <input type="text" class="form-control" name="comment[text]" placeholder="Your comment">
  </div>

  <button type="submit" class="btn btn-warning">Submit</button>
  <a href="/prints/<%= print._id %>" class="btn btn-dark">Go back</a>
</form>
</div>

<%- include("../partials/footer.ejs") %>