<%- include("partials/header.ejs") %>
<h1 class="textCenter">ภัทรวรินทร์ เจียมทอง</h1>
<h1 class="textCenter">เลข 430 น้า</h1>
<div>
    <img class="imgCenter" src='/images/Screenshot 2022-05-25 002406.png' >
</div>

<!-- <a href="/prints">View all prints</a> -->

<%- include("partials/footer.ejs") %>