<%- include("partials/header.ejs") %>

<div class="container">
    <h1>Register</h1>
<form action="/register" method="POST" enctype='multipart/form-data'>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Username</label>
    <input type="text" class="form-control" name="username" placeholder="Your Username">
  </div>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Password</label>
    <input type="password" class="form-control" name="password" placeholder="Your Password">
  </div>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">First Name</label>
    <input type="text" class="form-control" name="firstName" placeholder="Your first name">
  </div>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Last Name</label>
    <input type="text" class="form-control" name="lastName" placeholder="Your last name">
  </div>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email</label>
    <input type="email" class="form-control" name="email" placeholder="Your email address">
  </div>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Proflie Imaga</label>
    <input type="file" class="form-control" name="profileImage" accept="image/*">
  </div>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Admin Code</label>
    <input type="text" class="form-control" name="adminCode" placeholder="Code">
  </div>

  <button type="submit" class="btn btn-warning">Register</button>
  <a href="/" class="btn btn-dark">Go back</a>
</form>
</div>

<%- include("partials/footer.ejs") %>